.tabs{
  height:80px;
  width:100%;
}
.tabs ul{
  display:inline;
}
.tabs ul li{
  display:inline-block;
  width:150px;
  text-align:center;
}
.tabs ul li:hover{
  cursor:hand;
  cursor:pointer;
}
article{
  visibility: hidden;
}
.visibility-visible{
  visibility:visible;
}
.focused{
  background-color:black;
  color:white;
}
.navSubList{
  padding-left: 0px;
}
.centerAligned{
  text-align:center;
}
.widgetContainer{
  min-height:300px;
  border: 1px solid black;
  border-radius: 5px;
}

/* AutoComplete */

.auto-enter {
 opacity: 0.01;
 transform: translateY(500%);
}

.auto-enter.auto-enter-active {
 opacity: 1;
 transform: translateY(0);
 transition: opacity 500ms, transform 500ms;
}

.auto-leave {
 opacity: 1;
 transform: translateY(0);
}

.auto-leave.auto-leave-active {
 opacity: 0.01;
 transform: translateY(500%);
 transition: opacity 500ms, transform 500ms;
}
